<main class="responsive-wrapper" data-aos="fade-in" data-aos-duration="1000">
 
	<div class="magazine-layout">
		<div class="magazine-column">
			<article class="article box-shadow-design p-4">
				<h2 class="article-title text-white article-title--large">
					<a href="#" class="article-link">
						A small act of kindness can make a world of difference.<mark class="mark mark--primary">Donate Blood</mark> to Save Lives
					</a>
				</h2>
				<div class="article-excerpt">
					<p class="text-white-50">I created Raktdaan to make a difference in the world. Blood donation saves lives. My goal is to make it easier for people to donate and receive blood. </p>
					<p class="text-white-50">  Together, we can create a community where no one has to suffer due to a lack of blood.</p>
 				</div>
				<div class="article-author">
					<div class="article-author-img " style=" border-radius:100%">
						<img src="/img/final.jpg"/>
					</div>
					<div class="article-author-info">
						<dl>
							<dt>Kshitij Jain</dt>
							<dd>Founder & Developer </dd>
						</dl>
					</div>
				</div>
			</article>	
			<article class="article p-4 mt-4 box-shadow-design">
				<h2 class="article-title article-title--medium">
					<a href="#" class="article-link">Our role is to facilitate communication between donors and requesters</a>
				</h2>
				<figure class="article-img">
					<img src="https://t3.ftcdn.net/jpg/02/96/20/02/360_F_296200281_8vEduHXkn2osDJGyTzWjuPKx4gqY8t96.jpg" />
				</figure>
				<div class="article-creditation">
					<p>
						Be a part of the Raktdaan community. Together, we can save lives and spread hope.


					</p>
				</div>
				<div class="article-excerpt">
					<p>We are not a medical provider and do not provide any medical advice or services. </p>
				</div>
			</article>
		 
			 
		</div>
		<div class="magazine-column">
			<article class="article " >
				<h2 class="article-title article-title--small">
					<a href="#" class="article-link text-white">
						Our mission is to bridge the gap between blood donors and those in need. We

						<mark class="mark mark--secondary">aim to make blood donation </mark> easier and more accessible.
					</a>
				</h2>
				<div class="article-excerpt box-shadow-design p-4 mt-4">
			 
				<figure class="article-img">
					<img data-aos="fade-right" src="https://png.pngtree.com/png-vector/20220708/ourmid/pngtree-blood-bank-word-cloud-concept-png-image_5814084.png" />
				</figure>	
					<p>
						In a world where every second counts, Rakth Daan emerges as a beacon of hope, bridging the gap between those in need of blood and those willing to lend a helping hand. Our user-friendly app empowers you to become a lifesaver, facilitating a seamless blood donation experience.

						Rakth Daan is a completely non-profit initiative dedicated to facilitating blood donation and promoting blood donation awareness. We are committed to providing a user-friendly and accessible platform for individuals seeking blood or willing to donate blood.
					</p>
				</div>
				<figure class="article-img m-4 border shadow">
					<img src=" https://www.shutterstock.com/image-vector/blood-donation-vector-logo-minimal-600nw-1734992729.jpg" data-aos="fade-left" />
				</figure>
			</article>
		
		</div>
		 
		 
	</div>
</main>