 <!-- Section: Contact -->
<section class="p-5 mb-lg-5 ">

    <h1 class="fw-bold text-center mb-5">Contact us</h1>

    <div class="row gx-xl-5">

        <div class="col-lg-5 mb-4 mb-lg-0">

            <form>
                <!-- Name input -->
                <div class="form-outline mb-4" data-mdb-input-init>
                    <input type="text" id="form4Example1" class="form-control" />
                    <label class="form-label" for="form4Example1">Name</label>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4" data-mdb-input-init>
                    <input type="email" id="form4Example2" class="form-control" />
                    <label class="form-label" for="form4Example2">Email address</label>
                </div>

                <!-- Message input -->
                <div class="form-outline mb-4" data-mdb-input-init>
                    <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                    <label class="form-label" for="form4Example3">Message</label>
                </div>

                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                    <input class="form-check-input me-2 " type="checkbox" value="" id="form4Example4" checked />
                    <label class="form-check-label" for="form4Example4">
                        Send me a copy of this message
                    </label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-danger btn-block mb-4" data-mdb-ripple-init>Send</button>
            </form>

        </div>

        <div class="col-lg-7 mb-4 mb-lg-0">

            <div class="row gx-lg-5">
                <div class="col-md-6 mb-4 mb-md-5">
                    <div class="d-flex align-items-start">
                        <div class="p-3 badge-danger rounded-4">
                            <i class="fas fa-headset fa-lg fa-fw"></i>
                        </div>
                        <div class="ms-4">
                            <p class="fw-bold mb-1">Technical support</p>
                            <p class="text-muted mb-0">support@raktdaan.com</p>
                            <p class="text-muted mb-0">+1 234-567-89</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4 mb-md-5">
                    <div class="d-flex align-items-start">
                        <div class="p-3 badge-danger rounded-4">
                            <i class="fas fa-dollar-sign fa-lg fa-fw"></i>
                        </div>
                        <div class="ms-4">
                            <p class="fw-bold mb-1">Sales questions</p>
                            <p class="text-muted mb-0">sales@raktdaan.com</p>
                            <p class="text-muted mb-0">+1 234-567-88</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4 mb-md-5">
                    <div class="d-flex align-items-start">
                        <div class="p-3 badge-danger rounded-4">
                            <i class="fas fa-newspaper fa-lg fa-fw"></i>
                        </div>
                        <div class="ms-4">
                            <p class="fw-bold mb-1">Press</p>
                            <p class="text-muted mb-0">press@raktdaan.com</p>
                            <p class="text-muted mb-0">+1 234-567-87</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4 mb-md-5">
                    <div class="d-flex align-items-start">
                        <div class="p-3 badge-danger rounded-4">
                            <i class="fas fa-bug fa-lg fa-fw"></i>
                        </div>
                        <div class="ms-4">
                            <p class="fw-bold mb-1">Bug report</p>
                            <p class="text-muted mb-0">bugs@raktdaan.com</p>
                            <p class="text-muted mb-0">+1 234-567-86</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>
<!-- Section: Contact -->