<link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.css" />


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
         </div>
        <div class="col-6 text-end">
      
        </div>
    </div>
    <br /><br />

    <table id="myTable" class="table align-middle mb-5 mt-5  compact hover  " style="width:80%">
        <thead class="bg-danger">
            <tr>
                <th>Name</th>
                <th>Blood Group</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Status</th>
                
            </tr>
        </thead>
    </table>
</div>


@section Scripts {
    <script src="//cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
    <script src="~/js/user.js"></script>
}