<link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.css" />


<div class="container p-3 ">
    <div class="row pt-4">
        <div class="col-6">
         </div>
        <div class="col-6 text-end">
      
        </div>
    </div>
    <br /><br />

    <table id="myTable" class="table align-middle mb-5 mt-5 compact hover shadow ">
        <thead class="bg-danger">
            <tr >
                <th >Name</th>
                <th>Blood Group</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Status</th>
            </tr>
            <tr class="filters">
                <th><input type="text" placeholder="Search Name" class="column-search" data-column="0" /></th>
                <!-- Other search inputs -->
                <th>
                    <select class="form-select column-search" data-column="1" aria-label="Blood Group">
                        <option value="">All Blood Groups</option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                    </select>
                </th>
                <th><input type="text" placeholder="Search City" class="column-search" data-column="2" /></th>
                <th><input type="text" placeholder="Search State" class="column-search" data-column="3" /></th>
                <th><input type="text" placeholder="Search Country" class="column-search" data-column="4" /></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>


@section Scripts {
    <script src="//cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
    <script src="~/js/user.js"></script>
}