
  <!-- Section: Intro -->
  <section class="mb-5 p-5 intro">
    
    <div class="intro-lower" class="mt-2">

      <div class="container">
        <div class="row g-0 align-items-center ">
                <div class="col-xl-7 mb-4 mb-xl-0 img-card   ">
                    <img src="https://static.vecteezy.com/system/resources/previews/007/849/341/original/blood-donation-equipment-background-free-vector.jpg" class="w-100 rounded-6 shadow" alt="Backpacker" />
          </div>
          <div class="col-xl-5 ms-0 ms-xl-n5  text-card">
                    <div class="card rounded-6 shadow" style="background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px);">
              <div class="card-body px-4 p-4 p-md-5 p-lg-4 p-xl-5">
                <h2 class="mb-4">Discover nearby blood doners quickly                </h2>
                            <p class="text-muted mb-4">
                                Are you or a loved one in need of blood? Our search feature allows recipients to find donors in their nearby areas quickly and easily.

                             </p>
                <button data-mdb-ripple-init class="btn btn-danger btn-lg btn-rounded ">Find Blood </button>
                <button data-mdb-ripple-init class="btn btn-danger btn-lg btn-rounded ms-2">Donate Blood </button>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  
</section>
  <!-- Section: Intro --><!--Main layout-->
<main>
    <div class="container">

        <!-- Section: About author -->
        <section class="mb-10">
            <div class="container">
                <div class="row gx-0 align-items-center">

                    <div class="col-lg-8 mb-5 pt-4 mb-lg-0 " >

                        <div style="background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px); z-index: 1;"
                             class="card rounded-7 me-lg-n5">
                            <div class="card-body p-lg-5">
                                <h2 class="fw-bold">
                                    <span class="">Anna Maria Doe</span>
                                </h2>
                                <p class="fw-bold"><em>“Don't be a tourist, be a traveler”</em></p>

                                <p class="text-muted mb-4">
                                    Nunc tincidunt vulputate elit. Mauris varius purus malesuada
                                    neque iaculis malesuada. Aenean gravida magna orci, non
                                    efficitur est porta id. Donec magna diam.
                                </p>
                                <p class="text-muted">
                                    Ad, at blanditiis quaerat laborum officia incidunt
                                    cupiditate dignissimos voluptates eius aliquid minus
                                    praesentium! Perferendis et totam ipsum ex aut earum libero
                                    accusamus voluptas quod numquam saepe, consequuntur nihil
                                    quia tenetur consequatur. Quis, explicabo deserunt quasi
                                    assumenda ea maiores nulla, et dolor saepe praesentium natus
                                    error reiciendis voluptas iste. Esse, laudantium ipsum
                                    animi, quos voluptatibus atque vero repellat sit eligendi
                                    autem maiores quasi cum aperiam. Aperiam rerum culpa
                                    accusantium, ducimus deserunt aliquid alias vitae quasi
                                    corporis placeat vel maiores explicabo commodi!
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">

                        <img src="https://blog-tutorial.mdbgo.io/assets/about.jpg" class="w-100" alt="Author image" style="border-radius: 53% 47% 52% 48% / 36% 41% 59% 64%; transform:rotate(10deg)" />

                    </div>
                  

                </div>
            </div>
        </section>
   
        <!-- Section: Posts -->
        <section class="text-center mb-5">

            <h3 class="fw-bold mb-7 text-center">Latest posts</h3>

            <div class="row gx-lg-5">

                <!-- Column -->
                <div class="col-lg-4 col-md-12 mb-7">

                    <div class="card rounded-6 h-100">
                        <div class="bg-image hover-overlay ripple mx-3 shadow-4-strong rounded-6 mt-n3"
                             data-mdb-ripple-init data-mdb-ripple-color="light">
                            <img src="https://blog-tutorial.mdbgo.io/assets/1.jpg" class="w-100">

                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>

                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Alone or with a group?</h5>

                            <p class="text-muted">
                                Ut pretium ultricies dignissim. Sed sit amet mi eget urna
                                placerat vulputate. Ut vulputate est non quam dignissim
                                elementum. Donec a ullamcorper diam.
                            </p>
                        </div>
                    </div>

                </div>
                <!-- Column -->
                <!-- Columns -->
                <div class="col-lg-4 mb-7">

                    <div class="card rounded-6 h-100">
                        <div class="bg-image hover-overlay ripple mx-3 shadow-4-strong rounded-6 mt-n3"
                             data-mdb-ripple-init data-mdb-ripple-color="light">
                            <img src="https://blog-tutorial.mdbgo.io/assets/2.jpg" class="w-100">

                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>

                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Top 10 places in Europe</h5>

                            <p class="text-muted">
                                Ut pretium ultricies dignissim. Sed sit amet mi eget urna
                                placerat vulputate. Ut vulputate est non quam dignissim
                                elementum. Donec a ullamcorper diam.
                            </p>
                        </div>
                    </div>

                </div>
                <!-- Columns -->
                <!-- Column -->
                <div class="col-lg-4 mb-7">

                    <div class="card rounded-6 h-100">
                        <div class="bg-image hover-overlay ripple mx-3 shadow-4-strong rounded-6 mt-n3"
                             data-mdb-ripple-init data-mdb-ripple-color="light">
                            <img src="https://blog-tutorial.mdbgo.io/assets/3.jpg" class="w-100">

                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>

                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Navigation without internet</h5>
                            <p class="text-muted">
                                Ut pretium ultricies dignissim. Sed sit amet mi eget urna
                                placerat vulputate. Ut vulputate est non quam dignissim
                                elementum. Donec a ullamcorper diam.
                            </p>
                        </div>
                    </div>

                </div>
                <!-- Column -->
                <!-- Column -->
                <div class="col-lg-4 col-md-12 mb-7">

                    <div class="card rounded-6 h-100">
                        <div class="bg-image hover-overlay ripple mx-3 shadow-4-strong rounded-6 mt-n3"
                             data-mdb-ripple-init data-mdb-ripple-color="light">
                            <img src="https://blog-tutorial.mdbgo.io/assets/4.jpg" class="w-100">

                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>

                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Which tent should you choose?</h5>

                            <p class="text-muted">
                                Ut pretium ultricies dignissim. Sed sit amet mi eget urna
                                placerat vulputate. Ut vulputate est non quam dignissim
                                elementum. Donec a ullamcorper diam.
                            </p>
                        </div>
                    </div>

                </div>
                <!-- Column -->
                <!-- Columns -->
                <div class="col-lg-4 mb-7">

                    <div class="card rounded-6 h-100">
                        <div class="bg-image hover-overlay ripple mx-3 shadow-4-strong rounded-6 mt-n3"
                             data-mdb-ripple-init data-mdb-ripple-color="light">
                            <img src="https://blog-tutorial.mdbgo.io/assets/5.jpg" class="w-100">

                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>

                        </div>
                        <div class="card-body">
                            <h5 class="card-title">The best backpacks ranking</h5>
                            <p class="text-muted">
                                Ut pretium ultricies dignissim. Sed sit amet mi eget urna
                                placerat vulputate. Ut vulputate est non quam dignissim
                                elementum. Donec a ullamcorper diam.
                            </p>
                        </div>
                    </div>

                </div>
                <!-- Columns -->
                <!-- Column -->
                <div class="col-lg-4 mb-7">

                    <div class="card rounded-6 h-100">
                        <div class="bg-image hover-overlay ripple mx-3 shadow-4-strong rounded-6 mt-n3"
                             data-mdb-ripple-init data-mdb-ripple-color="light">
                            <img src="https://blog-tutorial.mdbgo.io/assets/6.jpg" class="w-100">

                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>

                        </div>
                        <div class="card-body">
                            <h5 class="card-title">How to plan a trip?</h5>
                            <p class="text-muted">
                                Ut pretium ultricies dignissim. Sed sit amet mi eget urna
                                placerat vulputate. Ut vulputate est non quam dignissim
                                elementum. Donec a ullamcorper diam.
                            </p>
                        </div>
                    </div>

                </div>
                <!-- Column -->

            </div>

 
        </section>
        <!-- Section: Posts -->
        <!-- Section: Contact -->
        <section class="mb-5 mb-lg-5">

            <h3 class="fw-bold text-center mb-5">Contact us</h3>

            <div class="row gx-xl-5">

                <div class="col-lg-5 mb-4 mb-lg-0">

                    <form>
                        <!-- Name input -->
                        <div class="form-outline mb-4" data-mdb-input-init>
                            <input type="text" id="form4Example1" class="form-control" />
                            <label class="form-label" for="form4Example1">Name</label>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4" data-mdb-input-init>
                            <input type="email" id="form4Example2" class="form-control" />
                            <label class="form-label" for="form4Example2">Email address</label>
                        </div>

                        <!-- Message input -->
                        <div class="form-outline mb-4" data-mdb-input-init>
                            <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                            <label class="form-label" for="form4Example3">Message</label>
                        </div>

                        <!-- Checkbox -->
                        <div class="form-check d-flex justify-content-center mb-4">
                            <input class="form-check-input me-2 " type="checkbox" value="" id="form4Example4" checked />
                            <label class="form-check-label" for="form4Example4">
                                Send me a copy of this message
                            </label>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-danger btn-block mb-4" data-mdb-ripple-init>Send</button>
                    </form>

                </div>

                <div class="col-lg-7 mb-4 mb-lg-0">

                    <div class="row gx-lg-5">
                        <div class="col-md-6 mb-4 mb-md-5">
                            <div class="d-flex align-items-start">
                                <div class="p-3 badge-danger rounded-4">
                                    <i class="fas fa-headset fa-lg fa-fw"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="fw-bold mb-1">Technical support</p>
                                    <p class="text-muted mb-0">support@example.com</p>
                                    <p class="text-muted mb-0">+1 234-567-89</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-4 mb-md-5">
                            <div class="d-flex align-items-start">
                                <div class="p-3 badge-danger rounded-4">
                                    <i class="fas fa-dollar-sign fa-lg fa-fw"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="fw-bold mb-1">Sales questions</p>
                                    <p class="text-muted mb-0">sales@example.com</p>
                                    <p class="text-muted mb-0">+1 234-567-88</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-4 mb-md-5">
                            <div class="d-flex align-items-start">
                                <div class="p-3 badge-danger rounded-4">
                                    <i class="fas fa-newspaper fa-lg fa-fw"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="fw-bold mb-1">Press</p>
                                    <p class="text-muted mb-0">press@example.com</p>
                                    <p class="text-muted mb-0">+1 234-567-87</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-4 mb-md-5">
                            <div class="d-flex align-items-start">
                                <div class="p-3 badge-danger rounded-4">
                                    <i class="fas fa-bug fa-lg fa-fw"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="fw-bold mb-1">Bug report</p>
                                    <p class="text-muted mb-0">bugs@example.com</p>
                                    <p class="text-muted mb-0">+1 234-567-86</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </section>
        <!-- Section: Contact -->

    </div>
</main>
<!--Main layout-->
