<p class="text-center pt-2">
    * Please note Raktdaan is not a Blood Bank and does not involve in collection , storage & transportation of blood.
    <a asp-controller="home" asp-action="privacy">Please refer T&C for more details</a>
</p>
<!-- Section: About author -->
<section class="mt-3 mb-5">

    <div class="container">
        <div class="row gx-0 align-items-center">


          
            <div class="col-lg-6 mb-5 mb-lg-0 shadow" data-aos="zoom-in-down">

                <div style="background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(70px); z-index: 1;"
                     class="card hero-text rounded shadow me-lg-n5">
                    <div class="card-body p-lg-5">
                        <h2 class="fw-bold">
                            <span>
                                LET'S UNITE
                                TO SAVE LIVES
                            </span>
                        </h2>
                        <p class="fw-bold"><em>“Don't be a tourist, be a traveler”</em></p>

                        <p class="text-muted">
                            UBLOOD offers a platform to connect volunteering blood donors and recipients. Blood donation has been prevalent for ages,
                            however it is always a challenge to find the right donor at the right time. Blood donation through the years has become easier.
                            For us to succeed in this noble effort of saving lives we are guided by multiple doctors and academics who are experts in the blood
                            donation segment.
                        </p>
                        <div  >
                            <a class="btn btn-danger m-2 btn-lg" data-mdb-ripple-init asp-controller="home" asp-action="finddonar">
                                Find Nearby Donar
                            </a>
                            <a class="btn btn-danger m-2 btn-lg" asp-area="identity" asp-page="/account/register">
                                Register To Donate Blood
                            </a>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 " data-aos="zoom-in-down">
                <img src="~/img/hero.jpeg" class="hero-img rounded shadow " alt="Author image" />

            </div>
        </div>
    </div>
 
    <!--  end: weather section    -->
  
</section>
<!-- Section: About author -->
  


<!--Main layout-->
<main class="mt-2 mb-5">
    <div class="container">
        <h1 class="text-center mb-5">"With our blood on demand Web Application designed to connect blood donors and recipients"</h1>
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-7 mb-4">
                <!--Section: Post data-mdb-->
                <section class="border-bottom mb-4">
                    <img src="https://brandminds.com/wp-content/uploads/2021/07/brand_minds_2020_world_blood_donor_day_campaign-min.png"
                         class="img-fluid shadow-2-strong rounded mb-4" alt="" />
 
                </section>
                <!--Section: Post data-mdb-->
                <!--Section: Text-->
                <section>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio sapiente molestias
                        consectetur. Fuga nulla officia error placeat veniam, officiis rerum laboriosam
                        ullam molestiae magni velit laborum itaque minima doloribus eligendi! Lorem ipsum,
                        dolor sit amet consectetur adipisicing elit. Optio sapiente molestias consectetur.
                        Fuga nulla officia error placeat veniam, officiis rerum laboriosam ullam molestiae
                        magni velit laborum itaque minima doloribus eligendi!
                    </p>

                    <p>
                        <strong>
                            We are inviting 135 Crore Indians to Become Life Savers. Join us in this mission.
                        </strong>
                    </p>

                    <p>
                        According to some reports, India needs 15 million units of blood each year but manages to collect only 11 million units, 
                        it is also estimated that nearly 12,000 individuals die in india each day, due to non-availability of quality blood.
                    </p>

                    <p class="note note-light">
                        <strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Optio odit consequatur porro sequi ab distinctio modi. Rerum cum dolores sint,
                        adipisci ad veritatis laborum eaque illum saepe mollitia ut voluptatum.
                    </p>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, libero repellat
                        molestiae aperiam laborum aliquid atque magni nostrum, inventore perspiciatis
                        possimus quia incidunt maiores molestias eaque nam commodi! Magnam, labore.
                    </p>

                    <img src="https://images.newscientist.com/wp-content/uploads/2023/01/30205513/SEI_142285830.jpg" class="img-fluid shadow-1-strong rounded mb-4"
                         alt="" />

                    
                    <p>
                        # One unit of donated blood can save up to three lives.<br/>

                        # You can donate blood every three months. It only takes 48 hours for your body fluids to be completely replenished.<br />

                        # Scientists have estimated the volume of blood in the human body to be eight percent of body weight.<br />

                        # There are 100,000 miles of blood vessels in an adult human body.<br />

                        # A red blood cell can make a complete circuit of your body in 30 seconds.<br />

                        # White blood cells make up about 1% of your blood.<br />
                    </p>
                </section>
                <!--Section: Text-->
                <!--Section: Share buttons-->
                <section class="text-center border-top border-bottom py-4 mb-4">
                    <p><strong>Share with your friends:</strong></p>

                    <button type="button" class="btn btn-danger me-1" data-mdb-ripple-init style="background-color: #3b5998;">
                        <i class="fab fa-facebook-f"></i>
                    </button>
                    <button type="button" class="btn btn-danger me-1" data-mdb-ripple-init style="background-color: #55acee;">
                        <i class="fab fa-twitter"></i>
                    </button>
                    <button type="button" class="btn btn-danger me-1" data-mdb-ripple-init style="background-color: #0082ca;">
                        <i class="fab fa-linkedin"></i>
                    </button>
                    <button type="button" class="btn btn-danger me-1" data-mdb-ripple-init>
                        <i class="fas fa-comments me-2"></i>Add comment
                    </button>
                </section>
                <!--Section: Share buttons-->
                <!--Section: Author-->
                <section class="border-bottom mb-4 pb-4">
                    <div class="row">
                        <div class="col-3">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(23).jpg"
                                 class="img-fluid shadow-1-strong rounded" alt="" />
                        </div>

                        <div class="col-9">
                            <p class="mb-2"><strong>Kshitij Jain </strong></p>
                            <a href="" class="text-dark"><i class="fab fa-facebook-f me-1"></i></a>
                            <a href="" class="text-dark"><i class="fab fa-twitter me-1"></i></a>
                            <a href="" class="text-dark"><i class="fab fa-linkedin me-1"></i></a>
                            <p>
                                Blood donation is a noble cause. Apart from the below myths, there are many other misconceptions due to which people
                                don’t volunteer to donate blood. If you have any doubt about blood donation which is stopping you from donating,
                                talk to your healthcare professional and encourage others to go ahead and save lives!
                            </p>
                        </div>
                    </div>
                </section>
                <!--Section: Author-->
           
               
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-5 mb-4">
                <!--Section: Sidebar-->
                <section class="sticky-top"">
                    <!--Section: Ad-->
                    <section class="text-center border-bottom pb-4 mb-4">
                        <div class="bg-image hover-overlay mb-4" data-mdb-ripple-init>
                            <div class="container my-5">
                                <h2 class="text-center mb-4">Blood Type Compatibility</h2>
                                <table class="table table-responsive-md table-stripe table-bordered shadow">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Blood Type</th>
                                            <th scope="col">Can Donate To</th>
                                            <th scope="col">Can Receive From</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">O+</th>
                                            <td>O+, A+, B+, AB+</td>
                                            <td>O+, O-</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">O-</th>
                                            <td>Everyone</td>
                                            <td>O-</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">A+</th>
                                            <td>A+, AB+</td>
                                            <td>A+, A-, O+, O-</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">A-</th>
                                            <td>A+, A-, AB+, AB-</td>
                                            <td>A-, O-</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">B+</th>
                                            <td>B+, AB+</td>
                                            <td>B+, B-, O+, O-</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">B-</th>
                                            <td>B+, B-, AB+, AB-</td>
                                            <td>B-, O-</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">AB+</th>
                                            <td>AB+</td>
                                            <td>Everyone</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">AB-</th>
                                            <td>AB+, AB-</td>
                                            <td>AB-, A-, B-, O-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <h5>Material Design for Bootstrap 5</h5>

                        <p>
                           After donating blood, the body works to replenish the blood loss. This stimulates the production of new blood
                           cells and in turn, helps in maintaining good health.
                        </p>
                        <a class="btn btn-danger " asp-area="identity" asp-page="/account/register">
                            Donate Blood Now!
                        </a>
                    </section>
                    <!--Section: Ad-->
                    <!--Section: Video-->
                    <section class="text-center">
                        <h5 class="mb-4">Learn the newest Bootstrap 5</h5>

                        <div class="embed-responsive embed-responsive-16by9 shadow-4-strong">
                            <iframe class="embed-responsive-item rounded" src="https://www.youtube.com/embed/c9B4TPnak1A"
                                    allowfullscreen></iframe>
                        </div>
                    </section>
                    <!--Section: Video-->
                </section>
                <!--Section: Sidebar-->
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
</main>
<!--Main layout-->
<!-- end: stories   -->
<!-- start: table of topics -->
<div class="news-page_section news-topics">
    <div class="columns-wrapper">
        <div class="column column_topic">
            <div class="topic">World</div>
            <div class="badge_number">7</div>
        </div>
        <div class="column column_topic">
            <div class="topic">Ministry</div>
            <div class="badge_number">12</div>
        </div>
        <div class="column column_topic">
            <div class="topic">Sport</div>
            <div class="badge_number">4</div>
        </div>
        <div class="column column_topic">
            <div class="topic">Business</div>
            <div class="badge_number">2</div>
        </div>
        <div class="column column_topic">
            <div class="topic">Amusements</div>
            <div class="badge_number">3</div>
        </div>
        <div class="column column_topic">
            <div class="topic">Magic</div>
            <div class="badge_number">6</div>
        </div>
        <div class="column column_topic">
            <div class="topic">Jobs</div>
            <div class="badge_number">13</div>
        </div>
        <div class="column column_topic">
            <div class="topic">Adventure</div>
            <div class="badge_number">14</div>
        </div>
    </div>
</div>


<!-- end: table of topics --> <!--  start: weather section    -->
<div class="news-page_section weather">
    <div class="section-divider" title="Weather"></div>
    <div class="columns-wrapper column--weathers">
        <div class="column column--weather">
            <div class="weather_value text_shadow--hot">
                27 <span class="weater_value_measurement">*C</span>
            </div>
            <div class="weather_city">
                Adua
            </div>
        </div>
        <div class="column column--weather">
            <div class="weather_value">
                19 <span class="weater_value_measurement">*C</span>
            </div>
            <div class="weather_city">
                Hogsmeade
            </div>
        </div>
        <div class="column column--weather">
            <div class="weather_value">
                18 <span class="weater_value_measurement">*C</span>
            </div>
            <div class="weather_city">
                Idris
            </div>
        </div>

        <div class="column column--weather">
            <div class="weather_value text_shadow--hot">
                24 <span class="weater_value_measurement">*C</span>
            </div>
            <div class="weather_city">
                King's Landing
            </div>
        </div>

        <div class="column column--weather">
            <div class="weather_value text_shadow--cold">
                -84 <span class="weater_value_measurement">*C</span>
            </div>
            <div class="weather_city">
                Luna
            </div>
        </div>

        <div class="column column--weather">
            <div class="weather_value">
                12 <span class="weater_value_measurement">*C</span>
            </div>
            <div class="weather_city">
                Stormwind
            </div>
        </div>

    </div>
</div>
 
 
 
 
@section Scripts {
    <script src="//cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
    <script src="~/js/user.js"></script>
}