 

<div class="news-page">
    <div class="news-page__section publisher">
         
        <div class="publisher_name">
            <div class="tagline">
                Please note Raktdaan is not a Blood Bank and does not involve in collection , storage & transportation of blood.
                <a asp-controller="home" asp-action="terms">Please refer T&C for more detail</a>
            </div>
        </div>
    </div>
     <div class="news-page__section stories">
         <div class="story-divider"></div>
        <div class="story story--secondary">
            <div class="columns-wrapper">
                <div class="column first">
                    <p class="story-title--secondary">
                        Raktdaan - Find & Donate Blood Nearby
                    </p>
                    <div class="story-featured-photo">
                        <img src="https://cdn.thestandard.co.zw/theindependent/uploads/2022/06/20200628YM01_blood_donation_pack.jpg" alt="">
                    </div>
                    <div class="caption">
                        <div class="caption_content">“Raktdaan is a completely non-profit initiative dedicated to facilitating blood donation and promoting blood donation awareness.”</div>
                     </div>
                </div>
                <div class="column second">
                    <div class="story-title--third">
                        <div class="first-part">
                            <small>
                                Donate blood to fight against India's blood shortage
                            </small>  
                        </div>
                        <div class="second-part">
                             <small>
                                We are inviting 135 Crore Indians to Become Life Savers. Join us in this mission.
                            </small>
                        </div>
                    </div>
                    <div class="story-content--third">
                        <img src="http://redonion.se/cssgrid/images/potions200.jpg" alt="">
                        <div class="paragraph">
                            <p class="text--capitalize-first">
                                The average human body contains about five liters of blood, which is made of several cellular and non-cellular components such as Red blood cell, Platelet, and Plasma.

                                Each type of component has its unique properties and can be used for different indications. The donated blood is separated into these components by the blood centre and one donated unit can save upto four lives depending on the number of components separated from your blood.
                            </p>
                        </div>
                        <div class="paragraph">
                            <p>
                                An anonymous source says the Potter boy has been harassing girls and bullying his fellow students since he started at Hogwarts. The source also says that because of his family name, professors and staff are too scared to act. Neither one
                                of the boy's parents wanted to comment the event.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end: stories   -->
    <!--  start: weather section    -->
    <div class="news-page_section weather">
        <div class="section-divider" title="Weather"></div>
        <div class="columns-wrapper column--weathers">
            <div class="column column--weather">
                <div class="weather_value text_shadow--hot">
                    27 <span class="weater_value_measurement">*C</span>
                </div>
                <div class="weather_city">
                    Adua
                </div>
            </div>
            <div class="column column--weather">
                <div class="weather_value">
                    19 <span class="weater_value_measurement">*C</span>
                </div>
                <div class="weather_city">
                    Hogsmeade
                </div>
            </div>
            <div class="column column--weather">
                <div class="weather_value">
                    18 <span class="weater_value_measurement">*C</span>
                </div>
                <div class="weather_city">
                    Idris
                </div>
            </div>

            <div class="column column--weather">
                <div class="weather_value text_shadow--hot">
                    24 <span class="weater_value_measurement">*C</span>
                </div>
                <div class="weather_city">
                    King's Landing
                </div>
            </div>

            <div class="column column--weather">
                <div class="weather_value text_shadow--cold">
                    -84 <span class="weater_value_measurement">*C</span>
                </div>
                <div class="weather_city">
                    Luna
                </div>
            </div>

            <div class="column column--weather">
                <div class="weather_value">
                    12 <span class="weater_value_measurement">*C</span>
                </div>
                <div class="weather_city">
                    Stormwind
                </div>
            </div>

        </div>
    </div>
    <!--  end: weather section    -->
    <!--  start: footer story    -->
    <div class="news-page_section story--footer">
        <div class="story-title--footer">
            AURORS OUT OF CONTROL?
        </div>
        <div class="story_excerpt_and_number">
            <div class="story_page_number">
                <div>page</div>
                <div class="number">7</div>
            </div>
            <div class="story_excerpt">
                <div>THE FULL STORY</div>
                <div class="text--lowercase">violence investigated</div>
            </div>
        </div>
    </div>
    <!--  end: footer story    -->
    <!-- start: table of topics -->
    <div class="news-page_section news-topics">
        <div class="columns-wrapper">
            <div class="column column_topic">
                <div class="topic">World</div>
                <div class="badge_number">7</div>
            </div>
            <div class="column column_topic">
                <div class="topic">Ministry</div>
                <div class="badge_number">12</div>
            </div>
            <div class="column column_topic">
                <div class="topic">Sport</div>
                <div class="badge_number">4</div>
            </div>
            <div class="column column_topic">
                <div class="topic">Business</div>
                <div class="badge_number">2</div>
            </div>
            <div class="column column_topic">
                <div class="topic">Amusements</div>
                <div class="badge_number">3</div>
            </div>
            <div class="column column_topic">
                <div class="topic">Magic</div>
                <div class="badge_number">6</div>
            </div>
            <div class="column column_topic">
                <div class="topic">Jobs</div>
                <div class="badge_number">13</div>
            </div>
            <div class="column column_topic">
                <div class="topic">Adventure</div>
                <div class="badge_number">14</div>
            </div>
        </div>
    </div>
    <!-- end: table of topics -->
</div>

<!-- Section: Intro -->
<header class="mb-5 p-5 intro">
     <div class="intro-lower" class="mt-2">

      <div class="container">

        <div class="row g-0 align-items-center ">
                <div class="col-xl-7 mb-4 mb-xl-0 img-card   ">
                    <img src="https://static.vecteezy.com/system/resources/previews/007/849/341/original/blood-donation-equipment-background-free-vector.jpg" class="w-100 rounded-6 shadow" alt="Backpacker" />
          </div>
          <div class="col-xl-5 ms-0 ms-xl-n5  text-card">
                    <div class="card rounded-6 shadow" style="background: hsla(0, 0%, 100%, 0.65); backdrop-filter: blur(30px);">
              <div class="card-body px-4 p-4 p-md-5 p-lg-4 p-xl-5">
                <h2 class="mb-4 ">Discover nearby blood doners quickly                </h2>
                            <p class="text-muted mb-4">
                                Are you or a loved one in need of blood? Our search feature allows recipients to find donors in their nearby areas quickly and easily.

                             </p>
                <a asp-action="FindDonar" asp-controller="home"   data-mdb-ripple-init class="btn btn-danger btn-lg btn-rounded ">Find Blood </a>
                <a asp-area="Identity" asp-page="/Account/Register" data-mdb-ripple-init class="btn btn-danger btn-lg btn-rounded ms-2">Donate Blood </a>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>  
</header>
<!--Section: Content-->
<section>
    <!-- Jumbotron -->
    <div id="intro" class="p-5 text-center  shadow rounded mb-5" style="background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px);">
        <h1 class="mb-3 h2">Learn Bootstrap 5 with MDB</h1>
        <p class="mb-3">Best & free guide of responsive web design</p>
        <a class="btn btn-danger m-2" href="https://www.youtube.com/watch?v=c9B4TPnak1A" role="button" rel="nofollow" data-mdb-ripple-init
           target="_blank">Start tutorial</a>
        <a class="btn btn-danger m-2" href="https://mdbootstrap.com/docs/standard/" target="_blank" data-mdb-ripple-init
           role="button">Download MDB UI KIT</a>
    </div>
    <!-- Jumbotron -->
</section>
 
@section Scripts {
    <script src="//cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
    <script src="~/js/user.js"></script>
}