 
 
<header class=" mb-5 hero " style="">
  
    <div class="container hero-container">
        <div class="row align-items-center p-4 box-shadow-design">


          
            <div class="col-lg-6 mb-4 mb-lg-0 " data-aos="flip-left"
                 data-aos-offset="300"
                 data-aos-easing="ease-in-sine">

                <div class=" me-lg-n5">
                    <div class=" p-4">
                        <h2 class="fw-bold">
                            <span>
                                LET'S UNITE
                                TO SAVE LIVES
                            </span>
                        </h2>
                 
                        <p class="fw-bold"><em>“Don't be a tourist, be a traveler”</em></p>

                        <p >
                            Raktdaan offers a platform to connect volunteering blood donors and recipients. Blood donation has been prevalent for ages,
                            however it is always a challenge to find the right donor at the right time.
                            For us to succeed in this noble effort of saving lives we are guided by multiple doctors and academics who are experts in the blood
                            donation segment.
                        </p>
                        <div  >
                            <a class="btn btn-danger m-2 btn" data-mdb-ripple-init asp-controller="home" asp-action="finddonar">
                                <b>
                                    Find Nearby Donar
                                </b>
                            </a>
                            <a class="btn btn-danger m-2 btn" asp-area="identity" asp-page="/account/register">
                                <b>Register To Donate Blood</b>
                            </a>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-lg-6 mb-5  " >
                 <div class="carousel">
                    <ul class="carousel__list">
                        <li class="carousel__item" data-pos="-2">1</li>
                        <li class="carousel__item" data-pos="-1">2</li>
                        <li class="carousel__item" data-pos="0">3</li>
                        <li class="carousel__item" data-pos="1">4</li>
                        <li class="carousel__item" data-pos="2">5</li>
                    </ul>
                </div>
 
            </div>
        </div>
    </div>
  
    <p class="text-center  text-white pt-1" style="font-size:14px">
        * Please note Raktdaan is not a Blood Bank and does not involve in collection , storage & transportation of blood.
        <a asp-controller="home" claas=" text-primary" asp-action="privacy">Please refer T&C for more details</a>
    </p>
  
</header> 

<!--Main layout-->
<main class="mt-2 mb-5">
    <div class="container ">
        <h1 class="text-center  mb-5">"With our blood on demand Web Application designed to connect blood donors and recipients"</h1>
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-7 mb-4">
                <!--Section: Post data-mdb-->
                <section class="border-bottom mb-4">
                    <img src="https://bansalgroup-assets.s3.ap-south-1.amazonaws.com/PRD/Bansal_Hospital/2020/09/Blood-Bank.jpg"
                         class="img-fluid shadow-2-strong rounded mb-4" alt="" />
 
                </section>
                <!--Section: Post data-mdb-->
                <!--Section: Text-->
                <section>
                    <p>
                        In a world where every second counts, Rakthdaan emerges as a beacon of hope, bridging the gap between those in need of blood and those 
                        willing to lend a helping hand. Our user-friendly app empowers you to become a lifesaver, facilitating a seamless blood donation experience. 
                        Rakth Daan is a completely non-profit initiative dedicated to facilitating blood donation and promoting blood donation awareness. We are 
                        committed to providing a user-friendly and accessible platform for individuals seeking blood or willing to donate blood.
                    </p>

                    <p>
                        <strong>
                            We are inviting 135 Crore Indians to Become Life Savers. Join us in this mission.
                        </strong>
                    </p>

                    <p>
                        According to some reports, India needs 15 million units of blood each year but manages to collect only 11 million units, 
                        it is also estimated that nearly 12,000 individuals die in india each day, due to non-availability of quality blood.
                    </p>
                    <ol>
                        <li>One unit of donated blood can save up to three lives.</li>

                        <li>You can donate blood every three months. It only takes 48 hours for your body fluids to be completely replenished.</li>

                        <li>Scientists have estimated the volume of blood in the human body to be eight percent of body weight.</li>

                        <li>There are 100,000 miles of blood vessels in an adult human body.</li>

                        <li>A red blood cell can make a complete circuit of your body in 30 seconds.</li>

                        <li>White blood cells make up about 1% of your blood.</li>
                    </ol>

                    <div class="note note-warning mb-4  box-shadow-design" id="tips">
                        <h4>  <strong>Tips:</strong> Here are some tips to put your mind at ease during the blood donation process</h4><br />
                        <strong>
                            The day before
                        </strong>
                        <ul>
                            <li>
                                Have an iron-rich diet such as beans, spinach or meat, poultry.
                            </li>
                            <li>
                                Have a proper sleep of at least 8 hours.
                            </li>
                            <li>
                                Include more liquids in your diet
                            </li>
                         </ul>
                            <strong>
                            On the Donation day
                        </strong>
                        <ul>
                            <li>
                                Do carry your identify identification forms e.g. driver’s license
                            </li>
                            <li>
                                Drink 2 cups of water before donating blood
                            </li>
                            <li>
                                Wear a half sleeve shirt so that you can easily roll it up avoid fast food before donation
                            </li>
                        </ul>
                                <strong>
                            After the Donation
                        </strong>
                        <ul>
                            <li>
                                Reward yourself with a snack as refreshment immediately.
                            </li>
                            <li>
                                Drink more liquids over a period of 24 hours
                            </li>
                            <li>
                                Remove the bandage after few hours
                            </li>
                            <li>
                                Don’t do vigorous workout & give your body rest
                            </li>
                        </ul>

                    </div>

                    

                    
                </section>
                <!--Section: Text-->
              
               
                <!--Section: Share buttons-->
                <!--Section: Author-->
                <section class="border-bottom mb-4 pb-4">

                    <img src="https://png.pngtree.com/png-vector/20220708/ourmid/pngtree-blood-bank-word-cloud-concept-png-image_5814084.png"  class="img-fluid  rounded mb-4"
                         alt="" />

                    <div class="row p-2 box-shadow-design ">
                        <div class="col-3">
                            <img src="/img/final.jpg"
                                 class="img-fluid" style="border-radius:100%" alt="" />
                        </div>

                        <div class="col-9">
                            <p class="mb-2"><strong>Kshitij Jain </strong></p>
                            <p>
                                I created Raktdaan to make a difference in the world. Blood donation saves lives. My goal is to make it
                                easier for people to donate and receive blood.Together, we can create a community where no one has to
                                suffer due to a lack of blood.
                            </p>
                           
                        </div>
                    </div>
                </section>
                <!--Section: Author-->
                <!--Section: Share buttons-->
                <section class="text-center border-bottom py-4 mb-4">
                    <p><strong>Do connect with Mr. Kshitij Jain - Founder of Raktdaan on Social Media</strong></p>

                    <button type="button" class="btn btn-danger1 me-1" data-mdb-ripple-init style="background-color: #3b5998;">
                        <i class="fab fa-facebook-f"></i>
                    </button>
                    <button type="button" class="btn btn-danger1 me-1" data-mdb-ripple-init style="background-color: #55acee;">
                        <i class="fab fa-twitter"></i>
                    </button>
                    <button type="button" class="btn btn-danger1 me-1" data-mdb-ripple-init style="background-color: #0082ca;">
                        <i class="fab fa-linkedin"></i>
                    </button>
                    <button type="button" class="btn btn-danger1 me-1" data-mdb-ripple-init>
                        <i class="fas fa-comments me-2"></i>Add comment
                    </button>
                </section>
               
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-5 mb-4">
                <!--Section: Sidebar-->
                <section class="sticky-top"">
                    <!--Section: Ad-->
                    <section class="text-center border-bottom pb-4 mb-4">
                        <div class="bg-image hover-overlay mb-4" data-mdb-ripple-init>
                            <div class="container my-5">
                                <h2 class="text-center mb-4">Blood Type Compatibility</h2>
                                <table class="table box-shadow-design table-responsive-md table-stripe table-bordered shadow">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Blood Type</th>
                                            <th scope="col">Can Donate To</th>
                                            <th scope="col">Can Receive From</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">O+</th>
                                            <td>O+, A+, B+, AB+</td>
                                            <td>O+, O-</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">O-</th>
                                            <td>Everyone</td>
                                            <td>O-</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">A+</th>
                                            <td>A+, AB+</td>
                                            <td>A+, A-, O+, O-</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">A-</th>
                                            <td>A+, A-, AB+, AB-</td>
                                            <td>A-, O-</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">B+</th>
                                            <td>B+, AB+</td>
                                            <td>B+, B-, O+, O-</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">B-</th>
                                            <td>B+, B-, AB+, AB-</td>
                                            <td>B-, O-</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">AB+</th>
                                            <td>AB+</td>
                                            <td>Everyone</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">AB-</th>
                                            <td>AB+, AB-</td>
                                            <td>AB-, A-, B-, O-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                       

                        <div class="box-shadow-design p-4">
                            <h2>Why Raktdaan</h2>
                            <strong>
                                Localized Search: </strong>
                        <p> Find donors and receivers in your local area easily.  </p>


                                <strong>
                                    No Fees: </strong>
                        <p>
                            Our service is completely free for both donors and receivers.
                        </p>


                                    <strong>
                                        User-Friendly Platform: </strong>
                        <p>
                            Simple and intuitive interface for seamless navigation.
                        </p>

                        <a class="btn btn-danger " asp-area="identity" asp-page="/account/register">
                            Donate Blood Now!
                        </a>
                        </div>
                    </section>
                    <!--Section: Ad-->
                    <!--Section: Video-->
                    <section class="text-center">
                        <h5 class="mb-4">Types of blood groups, Watch here ! </h5>

                        <div class="embed-responsive embed-responsive-16by9  ">
                        <iframe width="400" height="300" src="https://www.youtube.com/embed/ZnEprHobSAA?si=tcFPhfQNlHg_Unwf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                        </div>
                    </section>
                    <!--Section: Video-->
                </section>
                <!--Section: Sidebar-->
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
</main>
<!--Main layout-->
 
 
@section Scripts {
    <script src="//cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
    <script src="~/js/user.js"></script>
}