 
  <!-- Section: Intro -->
<header class="mb-5 p-5 intro">
     <div class="intro-lower" class="mt-2">

      <div class="container">

        <div class="row g-0 align-items-center ">
                <div class="col-xl-7 mb-4 mb-xl-0 img-card   ">
                    <img src="https://static.vecteezy.com/system/resources/previews/007/849/341/original/blood-donation-equipment-background-free-vector.jpg" class="w-100 rounded-6 shadow" alt="Backpacker" />
          </div>
          <div class="col-xl-5 ms-0 ms-xl-n5  text-card">
                    <div class="card rounded-6 shadow" style="background: hsla(0, 0%, 100%, 0.65); backdrop-filter: blur(30px);">
              <div class="card-body px-4 p-4 p-md-5 p-lg-4 p-xl-5">
                <h2 class="mb-4 text-danger">Discover nearby blood doners quickly                </h2>
                            <p class="text-muted mb-4">
                                Are you or a loved one in need of blood? Our search feature allows recipients to find donors in their nearby areas quickly and easily.

                             </p>
                <a asp-action="FindDonar" asp-controller="home"   data-mdb-ripple-init class="btn btn-danger btn-lg btn-rounded ">Find Blood </a>
                <a asp-area="Identity" asp-page="/Account/Register" data-mdb-ripple-init class="btn btn-danger btn-lg btn-rounded ms-2">Donate Blood </a>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>  
</header>
  <!-- Section: Intro --><!--Main layout-->
<main>
    <div class="container">
        <!--Section: Content-->
        <section>
            <!-- Jumbotron -->
            <div id="intro" class="p-5 text-center  shadow rounded mb-5" style="background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px);">
                <h1 class="mb-3 h2">Learn Bootstrap 5 with MDB</h1>
                <p class="mb-3">Best & free guide of responsive web design</p>
                <a class="btn btn-danger m-2" href="https://www.youtube.com/watch?v=c9B4TPnak1A" role="button" rel="nofollow" data-mdb-ripple-init
                   target="_blank">Start tutorial</a>
                <a class="btn btn-danger m-2" href="https://mdbootstrap.com/docs/standard/" target="_blank" data-mdb-ripple-init
                   role="button">Download MDB UI KIT</a>
            </div>
            <!-- Jumbotron -->
        </section>
        <!--Section: Content-->
       
        <!--Section: Content-->
            <section>
                <div class="row">
                    <div class="col-md-6 gx-5 mb-4">
                        <div class="bg-image hover-overlay shadow-2-strong" data-mdb-ripple-init data-mdb-ripple-color="light">
                            <img src="https://mdbootstrap.com/img/new/slides/031.jpg" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 gx-5 mb-4">
                        <h4><strong>Facilis consequatur eligendi</strong></h4>
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
                            consequatur eligendi quisquam doloremque vero ex debitis
                            veritatis placeat unde animi laborum sapiente illo possimus,
                            commodi dignissimos obcaecati illum maiores corporis.
                        </p>
                        <p><strong>Doloremque vero ex debitis veritatis?</strong></p>
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
                            itaque voluptate nesciunt laborum incidunt. Officia, quam
                            consectetur. Earum eligendi aliquam illum alias, unde optio
                            accusantium soluta, iusto molestiae adipisci et?
                        </p>
                    </div>
                </div>
            </section>
            <!--Section: Content-->

            <hr class="my-5" />

            <!--Section: Content-->
            <section class="text-center">
                <h4 class="mb-5"><strong>Facilis consequatur eligendi</strong></h4>

                <div class="row">
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card">
                            <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                                <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" />
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make
                                    up the bulk of the card's content.
                                </p>
                                <a href="#!" class="btn btn-danger" data-mdb-ripple-init>Button</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card">
                            <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                                <img src="https://mdbootstrap.com/img/new/standard/nature/023.jpg" class="img-fluid" />
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make
                                    up the bulk of the card's content.
                                </p>
                                <a href="#!" class="btn btn-danger" data-mdb-ripple-init>Button</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card">
                            <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                                <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make
                                    up the bulk of the card's content.
                                </p>
                                <a href="#!" class="btn btn-danger" data-mdb-ripple-init>Button</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Section: Content-->
 
        <!-- Section: About author -->
        <section class="mb-10">
            <div class="container">
                <div class="row gx-0 align-items-center">

                    <div class="col-lg-8 mb-5 pt-4 mb-lg-0 " >

                        <div style="background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px); z-index: 1;"
                             class="card rounded-7 me-lg-n5">
                            <div class="card-body p-lg-5">
                                <h2 class="fw-bold">
                                    <span class="">Anna Maria Doe</span>
                                </h2>
                                <p class="fw-bold"><em>“Don't be a tourist, be a traveler”</em></p>

                                <p class="text-muted mb-4">
                                    Nunc tincidunt vulputate elit. Mauris varius purus malesuada
                                    neque iaculis malesuada. Aenean gravida magna orci, non
                                    efficitur est porta id. Donec magna diam.
                                </p>
                                <p class="text-muted">
                                    Ad, at blanditiis quaerat laborum officia incidunt
                                    cupiditate dignissimos voluptates eius aliquid minus
                                    praesentium! Perferendis et totam ipsum ex aut earum libero
                                    accusamus voluptas quod numquam saepe, consequuntur nihil
                                    quia tenetur consequatur. Quis, explicabo deserunt quasi
                                    assumenda ea maiores nulla, et dolor saepe praesentium natus
                                    error reiciendis voluptas iste. Esse, laudantium ipsum
                                    animi, quos voluptatibus atque vero repellat sit eligendi
                                    autem maiores quasi cum aperiam. Aperiam rerum culpa
                                    accusantium, ducimus deserunt aliquid alias vitae quasi
                                    corporis placeat vel maiores explicabo commodi!
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">

                        <img src="https://blog-tutorial.mdbgo.io/assets/about.jpg" class="w-100" alt="Author image"  />

                    </div>
                  

                </div>
            </div>
        </section>
  
    </div>
</main>
<!--Main layout-->
@section Scripts {
    <script src="//cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
    <script src="~/js/user.js"></script>
}