<section class="border-bottom mb-3" id="myths">
    <p class="text-center"><strong>Common Myths About Blood Donation</strong></p>

    <!-- Comment -->
    <div class="row mb-4">


        <div class="col-12 note note-danger">
            <p class="mb-2">
                <strong>
                    Myth #1 - It takes a long time to donate blood
                </strong>
            </p>
            <p>
                Only The whole process from start to finish only takes about an hour and involves three easy steps; registration, a quick health check
                and the blood donation itself. After registering and answering some questions about your health and travel history,
                a staff member will check your temperature, pulse, blood pressure and hemoglobin. Then it’s on to the donation itself –
                which only takes about eight to 10 minutes, after which you will relax for a few minutes with a drink and snack before leaving.
            </p>
        </div>
    </div>

    <!-- Comment -->
    <div class="row mb-4">


        <div class="col-12 note note-primary">
            <p class="mb-2">
                <strong>
                    Myth #2 - It will hurt to donate blood
                </strong>
            </p>
            <p>
                Only for a moment, and only a tiny bit (at least, that’s what our donors tell us). You’ll feel the first stick of the
                needle, but you shouldn’t feel any pain after that. Some of our loyal repeat donors even tell us they’ve gotten so
                used to the feeling that they barely notice the needle anymore.
            </p>
        </div>
    </div>

    <!-- Comment -->
    <div class="row mb-4">


        <div class="col-12 note note-warning">
            <p class="mb-2">
                <strong>
                    Myth #3 - I'm too old to donate
                </strong>
            </p>
            <p>
                There is no maximum age limit for donating blood. You can donate starting at age 17
                (16 in some states with parental consent) and can then donate for the rest of your life as long as you
                are eligible otherwise.

            </p>
        </div>
    </div>
    <div class="row mb-4 note note-success">


        <div class="col-12">
            <p class="mb-2">
                <strong>
                    Myth #4 - I can Donate Blood only once a year

                </strong>
            </p>
            <p>
                It takes around 4-6 weeks to fully recover. The lost plasma in the body gets replaced within 24 hours. So,
                you can safely donate blood every three to six months once the blood cells are completely restored.


            </p>
        </div>
    </div>
</section>
