
<style>
    .terms  li{
        font-size:13px;
    }
    .terms h5{
        text-align:center;
        margin-bottom:1em;
        text-decoration:underline;
        color:black;
    }
</style>
 <section class="terms p-5">
    <h1 class="text-center text-dark fw-bold">Terms & Conditions</h1>
    <p>Raktdaan's blood donation feature ("Feature") aims to connect volunteer blood donors ("Donors") with blood Receivers in their nearest local geographical area that are seeking blood donors ("Receivers"). Raktdaan connects Donors with people in the Donors’ geographical area ("Receivers"). Here are more details about the terms of service for the Feature (the "Terms") upon which Donors, Receivers and their relevant authorized Third Parties may use the Feature.</p>
    <div class="row">
        <div class="col-lg-6 box-shadow-design mt-2 p-4">
            <h5>Raktdaan is not a Blood Bank</h5>
            <ul>
                <li>Raktdaan is not a blood bank and Raktdaan is not affiliated with any particular blood recipient.</li>
                <li>Raktdaan does not carry out nor interfere with any business or activities in relation to blood donation, including but not limited to recruitment or selection of donors, collection, storage, processing or transportation of blood.</li>
                <li>Raktdaan does not provide any medical supervision or assistance.</li>
                <li>Raktdaan has not obtained, nor is it required to obtain, any statutory licenses, approvals, registration, certifications, or accreditations in this respect, including pursuant to any law, rules, or regulations applicable in the Blood Bank’s or Donor’s jurisdictions ("Applicable Law").</li>
            </ul>
        </div>
        <div class="col-lg-6 box-shadow-design mt-2  p-4">
            <h5>Raktdaan's Goal</h5>
            <ul>
                <li>Raktdaan's goal is to facilitate the donor and the receiver with the help of enabling Technology for blood donation.</li>
                <li>Blood donation is a voluntary service and Raktdaan does not guarantee that a potential Donor will agree to donate blood whenever called upon to do so.</li>
                <li>Donors may remove their status as a blood donor at any time.</li>
                <li>Blood donors have the right to stop participating in this Feature at any time.</li>
                <li>Raktdaan does not guarantee that it will, or is able to, connect Donors and Receivers.</li>
                <li>Raktdaan will not be liable for any injury or loss of life resulting from any connections or lack of connections facilitated through the Feature.</li>
                <li>No contract, express or implied, is created hereby among any parties using the Feature, or with Raktdaan.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 box-shadow-design mt-2  p-4">
            <h5>Raktdaan as a Platform Provider</h5>
            <ul>
                <li>Raktdaan only facilitates contact between Donors and Receivers in need of blood by providing relevant information about donors and those in need of blood to potential Donors via the Raktdaan Application.</li>
                <li>Raktdaan is not responsible for the direct contact made between Donors and receivers nor is Raktdaan responsible for the Donors’ actions before or after contact is made.</li>
                <li>Raktdaan is not responsible for any misuse of contact information displayed. Raktdaan gives no assurance with respect to the authenticity, accuracy, or correctness of the information provided by the Donor or requests made by the receivers.</li>
                <li>The Donor and the Receiver are responsible for verifying the authenticity and correctness of the information provided by the other, working with their respective hospitals or blood banks.</li>
                <li>Raktdaan does not receive any protected health information.</li>
              </ul>
        </div>
        <div class="col-lg-6 box-shadow-design mt-2  p-4">

            <h5>Usage of the Feature</h5>
            <ul>
                <li>Use of the Feature is subject to Raktdaan’s other terms and conditions.</li>
                <li>While using the Feature, the Donors and Receivers are also subject to Raktdaan’s Standards, Data Policy, and other terms and conditions ("Raktdaan Website Terms") as may be applicable to the use of Raktdaan’s brands, products, and services.</li>
                <li>In case of any conflict or inconsistencies between these Blood Donation Feature Terms and other Raktdaan Website Terms, the latter shall prevail.</li>
                <li>You understand that the collection, processing, storage, and transfer of information obtained by Raktdaan in relation to your use of the Feature is in accordance with Raktdaan’s Data Policy.</li>
                <li>Any information or content provided in the Feature should be used by you only for the purposes set out in these Terms.</li>
                <li>Raktdaan reserves the right to deny or terminate any Donor's participation in or access to the Feature or to remove the Feature for any reason at any time.</li>
            </ul>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-6 mt-2 p-4 box-shadow-design">
            <h5>Financial Terms</h5>
            <ul>
                <li>Raktdaan does not accept money or incentives from Donors or Receivers for donating blood.</li>
                <li>Raktdaan does not charge any money from Donors or Receivers for their voluntary blood donation.</li>
            </ul>
        </div>
        <div class="col-lg-6  mt-2 p-4 box-shadow-design">
            <h5>Promotion and Endorsement</h5>
            <ul>
                <li>When providing the Feature, Raktdaan is not promoting any treatment, drugs, services, remedies, or activities that claim to have powers to cure, diagnose, prevent, or mitigate any disease or other illness.</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 mt-2 p-4 box-shadow-design">
            <h5>Donor Specific Terms</h5>
            <ul>
                <li>When you register as a Donor on Raktdaan, you express an interest to donate blood voluntarily and agree to receive updates when Receivers raise a request in your geographical area are looking for blood donors using our platform.</li>
            </ul>
        </div>
        <div class="col-lg-6 mt-2 p-4 box-shadow-design">
            <h5>Your Use of the Feature</h5>
            <ul>
                <li>Blood donation is a voluntary act and it is entirely at your sole discretion to donate blood.</li>
                <li>You may remove your status as a blood donor and stop receiving updates at any time through your Raktdaan profile.</li>
            </ul>
        </div>
    </div>  
    <div class="row">
        <div class="col-lg-6 mt-2 p-4 box-shadow-design">
            <h5>Medical Disclaimer</h5>
            <ul>
                <li>Raktdaan is not a medical provider and does not provide medical advice.</li>
                <li>You should seek and obtain appropriate medical advice from qualified medical professionals prior to participating in any blood donation activities. Raktdaan does not conduct any independent health or background checks.</li>
                <li>Raktdaan does not guarantee that you will be eligible or able to donate blood. The Receiver or the Third Party like Hospitals /Blood Banks, Diagnostic Laboratories are responsible for taking all steps required to determine your eligibility, accuracy, and ability to donate blood.</li>
            </ul>
        </div>
        <div class="col-lg-6 mt-2 p-4 box-shadow-design">
            <h5>Responsibility Disclaimer</h5>
            <ul>
                <li>Raktdaan is not responsible for the Blood Bank’s activities or operations.</li>
                <li>Raktdaan is not responsible for assessing the licensure, accreditation, or reputation of a Blood Bank. Donors are solely responsible for assessing the fitness of a Blood Banks prior to donating blood.</li>
                <li>Raktdaan is not responsible for any information, collected, created by, or about the Blood Bank.</li>
                <li>Donors should review local regulations and policy to confirm that they are complying with Applicable Law.</li>
            </ul>
        </div>
    </div>
 





 


  
 </section>