html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-size: auto 60vh;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
    color: #dc4c64;
}

.img-card {
    margin-left: 450px
}

.text-card {
    position: absolute;
    width: 50%;
}

.dt-search {
    text-align: center
}

    .dt-search input {
        width: 400px;
        border: 2px solid red
    }

    .dt-search label {
        color: red;
    }

 
